nav {
    display: flex;
    background-color: #1e88e5;
    padding: 0 10%;
}

.nav-box-logo {
    width: 20%;
}

.nav-logo {
    width: 100%;
    filter: drop-shadow(0 0 4px #000);
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu-list {
    padding-left: 3%;
}

.nav-menu-text {
    color: #f2f2f2;
}

.nav-button {
    background-color: #f2f2f2;
    color: #1e88e5;
    margin: auto 0;
    padding: .5% 1%;
    border: 1px solid #844cff;
    border-radius: 10px 0 5px 0;
    box-shadow: 1px 0 4px #000;
}