nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e88e5;
}

nav a {
    color: #f2f2f2;
}

/*Logo*/
.nav-box-logo {
    width: 15%;
}

.nav-logo {
    width: 100%;
    filter: drop-shadow(0 0 5px #111);
}

.nav-logo:hover {
    filter: drop-shadow(0 0 8px);
}

/*Menu*/
.nav-menu {
    display: flex;
}

.nav-menu-list {
    padding-left: 3%;
}