* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.container {
    padding: .8% 7%;
}

/*Colors*/

:root {
    --white: #f2f2f2;
    --bg-blue: #1E88E5;
    --font-blue: #42A5F5;
    --details-purple: #844CFF;
    --shadow-black: #111;
}

@keyframes pulse {
    0% {
        box-shadow: .5px .5px 10px var(--details-purple);
    }
    250% {
        box-shadow: 1px 1px 20px var(--details-purple);
    }
    50% {
        box-shadow: 2px 2px 20px var(--details-purple);
    }
    75% {
        box-shadow: 1px 1px 20px var(--details-purple);
    }
    100% {
        box-shadow: .5px .5px 10px var(--details-purple);
    }
}